

<!-- <layout-header></layout-header> -->

<router-outlet></router-outlet>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index">OI Camp</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <div class="nav-link">Index<span class="sr-only">(current)</span></div>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="alumni">Alumni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="study">Study</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <div class="container jumbotron">
        <h1 class="display-3"> Hello, {{ name }} ! </h1>
        <p>Welcome to OI Camp of No.1 Middle School of Yichang.</p>
    </div>
<!-- <layout-footer></layout-footer> -->
